<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
</head>
<body>
    <h1>Mail Calculator</h1>

    <form action="calculate" method="get">
        Weight:<br>
        <%= weight %>oz<br><br>

        Mail Type:<br>
        <%= name %><br><br>

        Price:<br>
        <%= price %><br><br>


        
        <input type="submit" value="Calculate">
    </form>
</body>
</html>